ul li
{	
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #4D4D4D;
	font-family: sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-align: right;
}

.levels
{
	position: absolute;
	left: 200px;    
    top: 200px;
}

.dropped
{
	background: #4D4D4D;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-weight: bold;
}


.dragcontainer
{
	margin-left: 42px;
}
.greyedout
{
	background: #dddddd !important;
}

ul
{
	float : left;
}

.levels li
{
	font-weight: normal !important;
	text-align: left !important;
}

.tutorial
{
	color: #4D4D4D;
	font-size: 23px;
	font-family: sans-serif;
	font-weight: bold;	
	margin-top : 26px;
}

.outline
{
	margin-left: 38px;
	border-bottom: solid #CCCCCC;
	border-bottom-width: 1px;
	padding-bottom: 12px;
}

.highlight
{
	background : #00ff00;
}

.dashboard
{
	width : 50%;
	margin-top : 35px;
}

.drag_drop
{
	width : 65%;	
	margin-top : 35px;
}

.complete
{
	width : 65%;	
	margin-top : 35px;
}


.time
{
	width : 65%;	
	margin-top : 35px;
}


.fillblank
{
	margin-top: 35px;
    width: 75%;	
}

.fillcontainer
{
	padding-left: 42px;
	padding-top: 19px;
	font-size: 17px;
}

.fillcontainer input
{
	-webkit-border-radius: 5px; 
    moz-border-radius: 5px; 
    border-radius: 5px; 
    width : 180px;
    height : 35px;
    line-height : 5px;
}

.dragging
{
	margin-left: 38px;
	margin-top: 31px;
	font-size: 17px;
}

.container
{
	border-style: dashed;
	border-color: #4D4D4D;
	border-width: 1px;
	border-radius: 12px;
	width: 170px;
	height: 38px;
	display: inline-block;
	margin: 0px 10px 7px 18px;
	vertical-align: middle;
}

.container1
{
	border-style: dashed;
	border-color: #4D4D4D;
	border-width: 1px;
	border-radius: 12px;
	width: inherit;
	height: inherit;
	display: inline-block;
	vertical-align: middle;
}

.button li div
{
	background: #4D4D4D;
	color: #FFFFFF;
	width: 137px;
	height: 38px;
	font-size: 12px;
	line-height: 37px;
	text-align: center;
}

.button
{
	position: absolute;
	left: 710px;    
    top: 200px;
}

.title1
{
	padding-left : 57px;
}


.title2
{
	padding-left : 45px;
}

.title3
{
	padding-left : 8px;
}

.title4
{
	padding-left : 8px;
}

.title5
{
	padding-left : 5px;
}

.header img
{
	width : 180px;
	height : 88px;

}

.header a
{
	margin-left : 10px;
}

.title
{
	font-size : 16px;
	color : #FFFFFF;
}

.header
{
	background : #4D4D4D;
	padding-bottom : 5px;
}

.red 
{
	background : #F15B24 !important;
}

.green
{
	background : #8CC73F !important;	
}

.fillContainer
{
	float : right;
	margin-top : 10px;	
}
.fillcontainer p
{
	font-size: 17px;
	line-height: 46px;
}

.fillContainer input
{
	margin-left : 5px;
}
