<div class = "dashboard">
	<div class = "tutorial outline"><span ng-bind = "title" ></span></div>
	<ul>
		<li>English Level</li>
		<li>Time</li>
		<li>Skill</li>
		<li>Subject</li>
		<li><img src = "image/up.jpg" width = "28" height = "28"></li>
	</ul>
	<ul class = "levels">
		<li><span ng-bind = "level"></span></li>
		<li><span ng-bind = "time"></span></li>
		<li><span ng-bind = "skill"></span></li>
		<li><span ng-bind = "subject"></span></li>			
		<li><span ng-bind = "description"></span></li>
	</ul>
</div>